    <div class="table-row"><div class="table-cell" data-position="0">{{{pos0}}}</div><div class="table-cell" data-position="1">{{{pos1}}}</div><div class="table-cell" data-position="2">{{{pos2}}}</div></div>
    <div class="table-row"><div class="table-cell" data-position="3">{{{pos3}}}</div><div class="table-cell" data-position="4">{{{pos4}}}</div><div class="table-cell" data-position="5">{{{pos5}}}</div></div>
    <div class="table-row"><div class="table-cell" data-position="6">{{{pos6}}}</div><div class="table-cell" data-position="7">{{{pos7}}}</div><div class="table-cell" data-position="8">{{{pos8}}}</div></div>
