<table class="table table-bordered table-cell-hover">
    <tbody>
    <tr><td class="text-center" data-position="0">{{pos0}}</td><td class="text-center" data-position="1">{{pos1}}</td><td class="text-center" data-position="2">{{pos2}}</td></tr>
    <tr><td class="text-center" data-position="4">{{pos4}}</td><td class="text-center" data-position="5">{{pos5}}</td><td class="text-center" data-position="6">{{pos6}}</td></tr>
    <tr><td class="text-center" data-position="6">{{pos6}}</td><td class="text-center" data-position="7">{{pos7}}</td><td class="text-center" data-position="8">{{pos8}}</td></tr>
    </tbody>
</table>
